* {
    font-family: 'Helvetica';
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
:root {
    --mainBackground : #156058;
    --darkBottleGreen: #103e35;
    --lighterBottleGreen: #128c7e;
    --paleGreen: #dcf8c6;
    --grayTextColor: #ece5dd;
    --primaryGreen: #25d366;

    --primaryTextColor: #181818;
    
}
button {
    cursor: pointer;
    background: transparent;
    border: none;
}

#root {
    background-color: var(--mainBackground);
    width: 100%;
    height: 100vh;

    display: flex;
    justify-content: center;
    align-items: center;
}

.join-chat-container {
    width: 50%;
    min-width: 360px;

    height: 50%;
    min-height: 400px;

    padding: 12px;
    border-radius: 12px;

    white-space: nowrap;
    text-wrap: none;

    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;

    >h1 {
        color: var(--grayTextColor);
        font-size: 42px;
    }

    >form {

        display: flex;
        flex-direction: column;
        width: 100%;
        align-items: center;

        row-gap: 24px;

        >.username-input-container {
            width: 100%;
            height: 36px;

            padding: 1% 1%;

            border: 0.5px solid #128c7e;
            border-radius: 5px;
            background-color: transparent;

            display: flex;
            align-items: center;

            >button {
                height: 100%;
                aspect-ratio: 1;
                border: none;                
                background: none;
                outline: none;
                font-family: 'Material Symbols Outlined';

                color: var(--paleGreen);
            }
            >input {
                flex-grow: 1;
                outline: none;
                background: transparent;
                border: none;
                padding: 3px;

                color: var(--paleGreen);
                font-size: 18px;
            }
        }

        >button[type='submit'] {
            width: 100%;
            padding-block: 8px;
            border: none;
            border-radius: 5px;

            background-color: var(--primaryGreen);
            color: white;
            font-size: 16px;
            cursor: pointer;
        }
    }
    
}

.select-avatar-container {
    width: 150px;
    aspect-ratio: 1;

    border-radius: 50%;
    border: 0.5px inset var(--grayTextColor);
    background-image: linear-gradient(to right bottom, #7f2f7ff7, #45459380);
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    color: #ffffff80 !important;

    position: relative;

}

#username-input::placeholder {
    color: var(--grayTextColor);
    font-size: 18px;
}


.hide {
    display: none !important;
}


.main-app-ui {
    width: 100%;
    height: 100%;
    
    display: flex;
    flex-direction: column;
    align-items: center;

    background-color: var(--darkBottleGreen);

    padding-block-end: 12px;
    
    >.chat-header {
        width: 100%;
        height: 7vh;
        min-height: 40px;
            

        border-bottom: 1px solid var(--lighterBottleGreen);
        /* background-image: linear-gradient(to bottom, #0000001f, #0000001f); */
        background-color: var(--mainBackground);

        display: flex;
        align-items: end;
        justify-content: space-between;
        column-gap: 6px;
        padding: 6px 12px;

        font-size: 18px;
        color: var(--grayTextColor);

        >.chatroom-title >span {
            color: var(--paleGreen)
        }

        >button {
            color: var(--grayTextColor);

            font-size: 18px;

            min-height: 32px;
            aspect-ratio: 1;

            display: flex;
            align-items: center;
            justify-content: center;

            border-radius: 50%;
            transition: 0.4s;
        }
    }

    >.messages-display-container {
        flex-grow: 1;
        width: 100%;
        background-color: var(--darkBottleGreen) !important;    
    }
}

.leave-room:hover {
    background-color: #df000056;
}.leave-room:active {
    background-color: #df000080;
}

.message-form-container {
    width: 100%;
    height: 6vh;
    min-height: 40px;

    display: flex;
    align-items: center;
    justify-content: space-between;

    padding-inline: 4px;
    

    >form {
        width: 100%;
        height: 100%;

        display: flex;
        align-items: center;
        justify-content: center;

        column-gap: 6px;

        >.message-input-container {
            height: 100%;

            background-color: white;
            border-radius: 20px;
    
            display: flex;
            align-items: center;
            justify-content: space-between;

            flex-grow: 1;
    
            padding-inline: 6px 12px;

            column-gap: 6px;

            >button {
                color: #bdbdbd;
                font-weight: 100;

                display: flex;
                align-items: center;
                justify-content: center;
                padding: 2px;

                height: 24px;
                aspect-ratio: 1;            

                border-radius: 50%;
            }

            >button, >input {
                height: 24px;
                background-color: transparent;
                border: none;
                outline: none;
            }

            >input {
                flex-grow: 1;
            }
        }

        >button {
            height: 100%;
            aspect-ratio: 1.2/1;
            background-color: var(--primaryGreen);
            border-radius: 24px;

            display: flex;
            align-items: center;
            justify-content: center;

            color: white;
        }
    }
}


.messages-display-container {
    display: flex;
    flex-direction: column;
    row-gap: 20px;

    padding: 8px 32px;

    overflow-y: scroll;
}
.messages-display-container::-webkit-scrollbar {
    display: none;
}

.message-box {
    width: fit-content;
    
    max-width: 65%;
    min-height: 24px;
    min-width: 80px;

    display: flex;
    flex-direction: column;
    align-items: start;
    row-gap: 4px;

    border-radius: 6px;

    padding: 6px;
    
    
    position: relative;

    >.sender-details-header {
        width: 100%;
        font-size: 14px;
        font-weight: 700;
        color: #d18800;
    }
    
    >.message-content-container {
        width: 100%;
        color: var(--primaryTextColor);
        font-size: 16.5px;
    }
}
.message-box.sent.primary::before{
    content: '';
    
    position: absolute;
    top: 12px;
    left: 100%;

    /* margin-top: -10px; */
    margin-left: -5px;     

    border-top: 10px solid var(--paleGreen);
    border-right: 10px solid transparent;    

    transform: rotate(135deg);
}
.message-box.recieved.primary::before {
    content: '';
    
    position: absolute;
    top: 12px;
    left: -5px;
    

    border-right: 10px solid var(--grayTextColor);
    border-top: 10px inset transparent;    

    transform: rotate(135deg);
}
.sent {
    background-color: var(--paleGreen);
    align-self: flex-end;
}
.recieved {
    background-color: var(--grayTextColor);
}

.avatar {
    position :absolute;

    width: 18px;
    min-width: 18px;
    aspect-ratio: 1;    

    border: 0.5px solid var(--grayTextColor);
    border-radius: 50%;

    background-image: linear-gradient(to right, purple 50%, red 50%);
    background-repeat: no-repeat;
    background-size: cover;

    top: 8px;
}

.sent {
    >.avatar {
        left: 100%;
        margin-left: 12px;
    }
}
.recieved {
    >.avatar {
        left: 0%;
        margin-left: -30px;
    }
}

.system-notification {
    padding-inline: 12px;
    padding-block: 4px;

    border-radius: 14px;

    font-size: 13px;

    background-color: #162e22d4;
    color: #d2d2d2;

    text-align: center;
}